@if (loading()) {
  <mat-progress-bar mode="indeterminate"/>
}

<mat-grid-list [cols]="(isHandset$|async)===true?1:3" rowHeight="339px" gutterSize="15px">
  <!--  User infos tile-->
  <mat-grid-tile>
    <mat-card appearance="outlined" class="info-card">
      <mat-card-header>
        <img matCardAvatar ngSrc="/user.png" [alt]="user()?.displayName" height="512" width="512"/>
        <mat-card-title>{{ user()?.displayName }}</mat-card-title>
        <mat-card-subtitle>{{ user()?.title }}</mat-card-subtitle>
        <button type="button" matIconButton class="refresh-btn" [disabled]="loading()" (click)="loadUser()">
          <mat-icon>refresh</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        @if (user()) {
          <table>
            <tr>
              <th>{{ 'user.firstName'|translate }} :</th>
              <td>{{ user()?.firstName }}</td>
            </tr>
            <tr>
              <th>{{ 'user.lastName'|translate }} :</th>
              <td>{{ user()?.lastName }}</td>
            </tr>
            <tr>
              <th>{{ 'user.username'|translate }} :</th>
              <td>{{ user()?.username }}</td>
            </tr>
            <tr>
              <th>{{ 'user.email'|translate }} :</th>
              <td>{{ user()?.email }}</td>
            </tr>
            <tr>
              <th>{{ 'user.title'|translate }} :</th>
              <td>{{ user()?.title }}</td>
            </tr>
            <tr>
              <th>{{ 'user.department'|translate }} :</th>
              <td>{{ user()?.department }}</td>
            </tr>
            <tr>
              <th>{{ 'user.roles'|translate }} :</th>
              <td>{{ user()?.roles }}</td>
            </tr>
          </table>
        }
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <!--  End user info tiles-->

  <!--  Form tile-->
  <mat-grid-tile [colspan]="(isHandset$|async)===true?1:2">
    <mat-card appearance="outlined" class="form-card">
      <mat-card-header>
        <mat-card-title>{{ 'profile.personal_info'|translate }}</mat-card-title>
      </mat-card-header>
      <form [formGroup]="form()" (submit)="save()">
        <mat-card-content>
          @if ((formControls()|keyvalue).length > 0) {
            <div class="fields-container">
              <!--                First name field-->
              <div class="field">
                <mat-form-field>
                  <mat-label>{{ 'user.firstName'|translate }}</mat-label>
                  <input type="text" matInput formControlName="firstName"/>
                  <!-- Server field errors-->
                  @if (serverErrors()['firstName']) {
                    @for (error of serverErrors()['firstName']; track error) {
                      <mat-error>{{ error }}</mat-error>
                    }
                  }
                </mat-form-field>
              </div>
              <!--                End first name field-->

              <!--                Last name field-->
              <div class="field">
                <mat-form-field>
                  <mat-label>{{ 'user.lastName'|translate }}</mat-label>
                  <input type="text" matInput formControlName="lastName"/>
                  <!-- Server field errors-->
                  @if (serverErrors()['lastName']) {
                    @for (error of serverErrors()['lastName']; track error) {
                      <mat-error>{{ error }}</mat-error>
                    }
                  }
                </mat-form-field>
              </div>
              <!--                End last name field-->

              <!--                Username field-->
              <div class="field">
                <mat-form-field>
                  <mat-label>{{ 'user.username'|translate }}</mat-label>
                  <input type="text" matInput formControlName="username"/>
                  <!-- Server field errors-->
                  @if (serverErrors()['username']) {
                    @for (error of serverErrors()['username']; track error) {
                      <mat-error>{{ error }}</mat-error>
                    }
                  }
                </mat-form-field>
              </div>
              <!--                End username field-->

              <!--                Email field-->
              <div class="field">
                <mat-form-field>
                  <mat-label>{{ 'user.email'|translate }}</mat-label>
                  <input type="email" matInput formControlName="email"/>
                  <!-- Server field errors-->
                  @if (serverErrors()['email']) {
                    @for (error of serverErrors()['email']; track error) {
                      <mat-error>{{ error }}</mat-error>
                    }
                  }
                </mat-form-field>
              </div>
              <!--                End Email field-->
            </div>
          }
        </mat-card-content>
        <mat-card-actions>
          <button type="submit" matButton="tonal" [disabled]="loading() || form().invalid">
            {{ 'profile.save'|translate }}
          </button>
        </mat-card-actions>
      </form>
    </mat-card>
  </mat-grid-tile>
  <!--  End form tile-->
  @if ((isHandset$|async) === false) {
    <mat-grid-tile></mat-grid-tile>
  }
  <!--  Password tile-->
  <mat-grid-tile [colspan]="(isHandset$|async)===true?1:2">
    <mat-card appearance="outlined" class="password-card">
      <mat-card-header>
        <mat-card-title>
          {{ 'profile.password_update'|translate }}
        </mat-card-title>
      </mat-card-header>
      <form [formGroup]="passwordForm()" (submit)="changePassword()">
        <mat-card-content>
          @if (passwordServerError().trim().length > 0) {
            <mat-error>{{ passwordServerError() }}</mat-error>
          }
          <mat-form-field>
            <mat-label>{{ 'profile.password'|translate }}</mat-label>
            <input type="password" matInput autocomplete="off" name="old_password" formControlName="oldPassword"/>
            @if (passwordServerErrors()['oldPassword']) {
              @for (error of passwordServerErrors()['oldPassword']; track error) {
                <mat-error>{{ error }}</mat-error>
              }
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ 'profile.new_password'|translate }}</mat-label>
            <input type="password" matInput autocomplete="off" name="new_password" formControlName="newPassword"/>
            @if (passwordServerErrors()['newPassword']) {
              @for (error of passwordServerErrors()['newPassword']; track error) {
                <mat-error>{{ error }}</mat-error>
              }
            }
          </mat-form-field>

        </mat-card-content>
        <mat-card-actions>
          <button type="submit" matButton="tonal" [disabled]="loading() || passwordForm().invalid">
            {{ 'profile.change'|translate }}
          </button>
        </mat-card-actions>
      </form>
    </mat-card>
  </mat-grid-tile>
  <!--  End password tile-->
</mat-grid-list>
