@use '@angular/material' as mat;

:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10px;
  z-index: 10;
  color-scheme: dark;
  @include mat.progress-bar-overrides((active-indicator-color: var(--mat-sys-on-tertiary),
    track-color: var(--mat-sys-tertiary),
  ));
}
