<form [formGroup]="form()" (submit)="submit()">
  <div class="entity-form-card">
    <!--  Header-->
    <div class="entity-form-card-header">
      <button matIconButton (click)="back()">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <h4 class="entity-form-card-title">{{ _cardTitle() }}</h4>
      <div class="entity-form-card-actions">
        <ng-content select=".card-action"></ng-content>
      </div>
    </div>
    <!--  End header-->

    <!--  Content-->
    <div class="entity-form-card-content">

      @if (loading()) {
        <mat-progress-bar mode="indeterminate"/>
      }

      @if (serverError() && serverError().length > 0) {
        <mat-error>{{ serverError() }}</mat-error>
      }
      @if (formControls()) {
        <app-entity-form-rows [idPrefix]="config?.idPrefix" [rows]="config?.rows" [formControls]="formControls()"
                              [serverErrors]="serverErrors()"/>
      }
    </div>
    <!--  End content-->

    <!--  Footer-->
    <div class="entity-form-card-footer">
      @if (config && config.formType === 'CREATE') {
        <button type="reset" matButton="tonal" [disabled]="!form().dirty || loading()">
          {{ 'form.reset'|translate }}
        </button>
      }
      <button type="submit" matButton="filled" [disabled]="!(!loading() && form().valid)" autofocus>
        {{ config ? ((config.formType === 'CREATE' ? 'form.create' : 'form.update') |translate) : '' }}
      </button>
    </div>
    <!--  End footer-->
  </div>
</form>
