@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  body {
    height: 100%;
    color-scheme: light dark;
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    font: var(--mat-sys-body-medium);
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    // Color scheme support
    &.dark-mode {
      color-scheme: dark;
    }

    &.light-mode {
      color-scheme: light;
    }
  }
}

/** Snackbar customization **/
.error-snackbar {
  @include mat.snack-bar-overrides((container-color: var(--mat-sys-on-error),
    supporting-text-color: var(--mat-sys-error),
    button-color: var(--mat-sys-error)));
}

.success-snackbar {
  @include mat.snack-bar-overrides((
    container-color: light-dark(#d1e7dd, #051b11),
    supporting-text-color: light-dark(#0a3622, #75b798),
    button-color: light-dark(#0a3622, #75b798)));
}

/** End snackbar customization **/

/** User info **/
.user-info {
  margin: 0;
  min-height: 48px;
  padding-left: var(--mat-menu-item-leading-spacing, 12px);
  padding-right: var(--mat-menu-item-trailing-spacing, 12px);
  text-align: center;
  font: var(--mat-sys-body-small);
  font-style: italic;

  & > * {
    display: block;
  }

  .user-name {
    font: var(--mat-sys-title-large);
    font-weight: bold;
    font-style: normal;
  }

  .user-title {
    font-weight: bold;
    font-style: normal;
  }
}

/** End user info **/

/** Boolean list type style */
.boolean-type {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;

  &:before {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
    padding: 0 .2rem;
  }

  &.yes:before {
    content: "check";
    color: green;
  }

  &.no::before {
    content: 'cancel';
    color: var(--mat-sys-error);
  }
}

/** End Boolean list type style */
