@use '@angular/material' as mat;
@use 'sass:map';

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  body {
    height: 100%;
    color-scheme: light dark;
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    font: var(--mat-sys-body-medium);
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    // Color scheme support
    &.dark-mode {
      color-scheme: dark;
    }

    &.light-mode {
      color-scheme: light;
    }
  }
}

/** Snackbar customization **/
.error-snackbar {
  @include mat.snack-bar-overrides((container-color: var(--mat-sys-error),
    supporting-text-color: var(--mat-sys-on-error),
    button-color: var(--mat-sys-on-error)));
}

.success-snackbar {
  @include mat.snack-bar-overrides((
    container-color: light-dark(#051b11, #d1e7dd),
    supporting-text-color: light-dark(#75b798, #0a3622),
    button-color: light-dark(#75b798, #0a3622)));
}

/** End snackbar customization **/

/** User info **/
.user-info {
  margin: 0;
  min-height: 48px;
  padding-left: var(--mat-menu-item-leading-spacing, 12px);
  padding-right: var(--mat-menu-item-trailing-spacing, 12px);
  text-align: center;
  font: var(--mat-sys-body-small);
  font-style: italic;

  & > * {
    display: block;
  }

  .user-name {
    font: var(--mat-sys-title-large);
    font-weight: bold;
    font-style: normal;
  }

  .user-title {
    font-weight: bold;
    font-style: normal;
  }
}

/** End user info **/

/** Boolean list type style */
.boolean-type {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;

  &:before {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
    padding: 0 .2rem;
  }

  &.yes:before {
    content: "check";
    color: green;
  }

  &.no::before {
    content: 'cancel';
    color: var(--mat-sys-error);
  }
}

/** End Boolean list type style */

/* Icon buttons by status */
[matIconButton] {
  &.error {
    color: var(--mat-sys-error);
  }

  &.info {
    color: light-dark(map.get(mat.$blue-palette, 20), map.get(mat.$blue-palette, 70))
  }

  &.success {
    color: green;
  }

  &.warning {
    color: orange;
  }
}

/* End icon buttons by status */

/* Custom fieldset */
fieldset.custom {
  height: 500px;
  border: 1px solid var(--mat-sys-outline-variant);
  box-sizing: border-box;
  border-radius: var(--mat-card-outlined-container-shape, var(--mat-sys-corner-medium));
  padding: 10px;
  margin-left: 8px;
  overflow: auto;

  legend {
    font: var(--mat-sys-title-medium);
  }
}

/* End Custom fieldset */

/* Table */
table.table {
  width: 100%;
  border: 0;
  border-spacing: 0;
  table-layout: auto;
  white-space: normal;
  background-color: var(--mat-table-background-color, var(--mat-sys-surface));
  //Table header
  & > thead {
    position: sticky;
    top: -10px;
    background-color: var(--mat-sys-surface);

    & > tr {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      height: var(--mat-table-header-container-height, 56px);
      color: var(--mat-table-header-headline-color, var(--mat-sys-on-surface, rgba(0, 0, 0, 0.87)));
      font-family: var(--mat-table-header-headline-font, var(--mat-sys-title-small-font, Roboto, sans-serif));
      line-height: var(--mat-table-header-headline-line-height, var(--mat-sys-title-small-line-height));
      font-size: var(--mat-table-header-headline-size, var(--mat-sys-title-small-size, 14px));
      font-weight: var(--mat-table-header-headline-weight, var(--mat-sys-title-small-weight, 500));

      & > th {
        border-bottom-color: var(--mat-table-row-item-outline-color, var(--mat-sys-outline, rgba(0, 0, 0, 0.12)));
        border-bottom-width: var(--mat-table-row-item-outline-width, 1px);
        border-bottom-style: solid;
        letter-spacing: var(--mat-table-header-headline-tracking, var(--mat-sys-title-small-tracking));
        font-weight: inherit;
        line-height: inherit;
        box-sizing: border-box;
        text-overflow: ellipsis;
        overflow: hidden;
        outline: none;
        text-align: left;
        padding: 0 16px;
        vertical-align: middle;
        color: light-dark(var(--mat-sys-on-primary-container), var(--mat-sys-on-secondary-container));
      }
    }
  }

  //End table header

  //Table body
  & > tbody > tr {
    -webkit-font-smoothing: antialiased;
    font-family: var(--mat-table-row-item-label-text-font, var(--mat-sys-body-medium-font, Roboto, sans-serif));
    line-height: var(--mat-table-row-item-label-text-line-height, var(--mat-sys-body-medium-line-height));
    font-size: var(--mat-table-row-item-label-text-size, var(--mat-sys-body-medium-size, 14px));
    font-weight: var(--mat-table-row-item-label-text-weight, var(--mat-sys-body-medium-weight));
    height: var(--mat-table-row-item-container-height, 52px);
    color: var(--mat-table-row-item-label-text-color, var(--mat-sys-on-surface, rgba(0, 0, 0, 0.87)));

    & > td {
      border-bottom-color: var(--mat-card-outlined-outline-color, var(--mat-sys-outline-variant));
      border-bottom-width: var(--mat-table-row-item-outline-width, 1px);
      border-bottom-style: solid;
      letter-spacing: var(--mat-table-row-item-label-text-tracking, var(--mat-sys-body-medium-tracking));
      line-height: inherit;
      padding: 0 16px;
      box-sizing: border-box;
      overflow: hidden;
      text-align: left;
      text-overflow: ellipsis;
      vertical-align: middle;

      button {
        @include mat.icon-button-overrides((icon-color: var(--mat-sys-error)))
      }
    }
  }

  //End table body
}

/* End Table */


/* Form actions */
.form-actions {
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: end;

  & > * {
    margin: 0 16px;
  }
}

/* End Form actions */
