@use '@angular/material' as mat;

:host {
  display: block;
  box-sizing: border-box;
  padding: 16px 16px 16px 8px;

  .delegations-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;

    & > .field-container {
      width: 50%;
      box-sizing: border-box;
      padding: 16px 0 16px 8px;

      .field {
        display: block;
        width: 100%;
        border: 1px solid var(--mat-sys-outline-variant);
        border-radius: var(--mat-sys-corner-medium);
        padding: 16px;
        box-sizing: border-box;
      }
    }
  }

  fieldset.custom {
    .delegated-form {
      display: flex;
      flex-direction: row;
      align-items: start;
      flex-wrap: wrap;

      .user-input {
        margin-top: 21px;
      }

      mat-form-field {
        margin: 16px;
      }

      button {
        margin-top: 21px;
      }
    }
  }
}
