<!--Main toolbar-->
<mat-toolbar id="main-toolbar" [class]="{'dark': appearance.isDark$|async, 'light': !(appearance.isDark$|async)}">
  <button type="button" aria-label="Toggle sidenav" matIconButton (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <a class="appname" href="/">
    <img src="long-logo.png" alt="App Logo"/>
  </a>
  <button type="button" matIconButton class="appearance-btn" (click)="appearance.toggleDarkMode()"
          [matTooltip]="(appearance.isDark$|async)?'Mode sombre':'Mode clair'">
    <mat-icon>
      @if ((appearance.isDark$|async) === true) {
        dark_mode
      } @else {
        light_mode
      }
    </mat-icon>
  </button>
  @if (profile()) {
    <span class="divider"></span>
    <button type="button" class="user-menu" [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
      {{ profile()?.displayName }}
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="logout()">Deconnexion</button>
    </mat-menu>
  }
</mat-toolbar>
<!--End main toolbar-->

<!--Sidenav container-->
<mat-sidenav-container id="main-sidenav-container">

  <!--  Sidenav-->
  <mat-sidenav #drawer id="main-sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-nav-list id="main-menu">
      <ul>
        @for (item of menuItems(); track $index) {
          <li [class.group]="item.children && item.children.length>0">
            <a mat-list-item [routerLink]="item.link" [activated]="item.isActive"
               [class.active]="item.isActive">
              @if (item.icon) {
                <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
              }
              {{ item.title }}
            </a>
          </li>
          @if (item.children && item.children.length > 0) {
            @for (subItem of item.children; track $index) {
              <li class="sub-item">
                <a mat-list-item [routerLink]="subItem.link" [activated]="subItem.isActive"
                   [class.active]="subItem.isActive">
                  @if (subItem.icon) {
                    <mat-icon matListItemIcon>{{ subItem.icon }}</mat-icon>
                  }
                  {{ subItem.title }}
                </a>
              </li>
            }
          }
        }
      </ul>
    </mat-nav-list>
    <div id="credits">
      <span class="version">V1.0.0</span>
      Made with ♥ by <a href="https://aboudev.tech" target="_blank"><strong>AbouDev</strong></a> &copy; 2025
    </div>
  </mat-sidenav>
  <!--  End sidenav-->

  <!--  Sidenav content-->
  <mat-sidenav-content id="main-sidenav-content">
    <router-outlet/>
  </mat-sidenav-content>
  <!--  End sidenav content-->

</mat-sidenav-container>
<!--End sidenav container-->
